.git
.github
docs
temp
node_modules
README.md
test_*.js
*.log
.env
.env.*
!.env.example
Server/node_modules
Server/dist
Server/.env
Server/*.log
Client/node_modules
Client/dist
Client/.env
Client/.env.*
