MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/promove
UPSTASH_REDIS_REST_URL=https://your-upstash-instance.upstash.io
UPSTASH_REDIS_REST_TOKEN=your-upstash-rest-token
UPSTASH_REDIS_HOST=your-upstash-host.upstash.io
JWT_ACCESS_SECRET="-----BEGIN PRIVATE KEY-----\nreplace-with-rsa-private-key\n-----END PRIVATE KEY-----"
JWT_REFRESH_SECRET="-----BEGIN PRIVATE KEY-----\nreplace-with-rsa-private-key\n-----END PRIVATE KEY-----"
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MAX_USERS_YEAR_ONE=2000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
FROM_EMAIL=noreply@promovecyc.com
